.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.headerlist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}