.App {
  background-color: aliceblue;
}

ul > li {
  list-style-type: none;
  margin-left: 2rem;
}

.main {
  min-height: 70vh;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  margin: 2rem;
  padding: 2rem;
}

.in_stock {
  background-color: rgb(145, 176, 97);
}

.outof_stock {
  background-color: green;
  color: rgb(143, 7, 7);
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle > button {
  width: 30%;
  margin: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 5rem;
  background-color: blue;
  color: white;
  font-size: larger;
}