.App {
  background-color: aliceblue;
}

ul > li {
  list-style-type: none;
  margin-left: 2rem;
}

.main {
  min-height: 70vh;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  margin: 2rem;
  padding: 2rem;
}